<!DOCTYPE html>
<html>
<head>
	<title>Edit My Account</title>
	<meta charset="utf-8">
	<meta name="edit job"content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>

<nav class="navbar">
  			<a class="nav-link active" href="#">Logout</a>
        <a class="nav-link active" href ="#">Back</a>
		</nav>

<div class="row">
    		<div class="col">
      			<input type="text" class="form-control" placeholder="First name" name="first_name">
    		</div>
    		<div class="col">
      			<input type="text" class="form-control" placeholder="Last name" name="last_name">
    		</div>
    		<div class="col">
      			<input type="email" class="form-control" placeholder="email" name="update_email">
    		</div>
 		<a href="#">Update</button>




</body>
</html>