<!DOCTYPE html>
<html>
<head>
	<title>dojo survey</title>
	<meta charset="utf-8">
	<meta name="welcome"content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<style>
	table {
		
	}
</style>
</head>
<body>
		<p>Success! You have submited information {{ request.session.count }} times</p>
		<h2>Submitted Information</h2>
	Name: {{ request.session.name }}
	Dojo Location: {{ request.session.location }}
	Favorite Language: {{ request.session.language }}
	Comments: {{ request.session.comment }}

	
</body>
</html>